.main{
  // background-image: url(unie.jpg);
  // background-size: cover;
  &__Large-frame{
    height: 100vh;
    width: 100vw;
    &__frame{
      list-style: none;
      margin: 20px; 
      &__box{
        margin-left: 50px;
        text-decoration: none;
        &__li{
          margin: 15px;
          background-color: rgb(245, 128, 128);
          height: 200px;
          width: 200px;
          float: left;
          .text-contents{
            display: none;
          }
          .text-active{
            display: block;
          }
        }
      }
    }
  }
}